body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

h1, h2 {
    color: #333;
}

section {
    margin: 20px 0;
}

input {
    margin: 5px;
}

button {
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

p {
    margin-top: 20px;
    font-size: 18px;
}

#ranking-list {
    list-style-type: none;
    padding: 0;
}

#ranking-list li {
    margin: 5px 0;
}
